payload_utf8.json
{"id":"SmS0C5f3mQbervfm","name":"IRIS - An├ílise IA (Supabase API)","nodes":[{"parameters":{"httpMethod":"POST","path":"iris-analisar","responseMode":"responseNode","options":{}},"id":"f6ce5ed7-af7f-40ad-b056-269d2aba6284","name":"Webhook App (Analisar)","position":[400,-144],"type":"n8n-nodes-base.webhook","typeVersion":1.1,"webhookId":"323f3d43-2200-4bfa-ba07-c45af4e1fe21"},{"parameters":{"operation":"getAll","tableId":"iris_pendencias","limit":1,"filters":{"conditions":[{"keyName":"id_disparo","condition":"eq","keyValue":"={{$json.body.id_disparo}}"}]}},"id":"dcb69424-7413-4cd6-9a33-1194c157c120","name":"Get Row Supabase","position":[624,-144],"type":"n8n-nodes-base.supabase","typeVersion":1,"credentials":{"supabaseApi":{"id":"8hyiuJeUM9Khn0Tk","name":"Supabase Iris Agente"}}},{"parameters":{"operation":"getAll","tableId":"iris_pendencias","limit":20,"filters":{"conditions":[{"keyName":"id_cliente","condition":"eq","keyValue":"={{ $('Get Row Supabase').item.json.id_cliente }}"},{"keyName":"data_evento","condition":"gt","keyValue":"={{ new Date(new Date().setDate(new Date().getDate() - 7)).toISOString() }}"}]}},"alwaysOutputData":true,"id":"123e4567-e89b-12d3-a456-426614174000","name":"Get Supabase History","position":[848,-144],"type":"n8n-nodes-base.supabase","typeVersion":1,"credentials":{"supabaseApi":{"id":"8hyiuJeUM9Khn0Tk","name":"Supabase Iris Agente"}}},{"parameters":{"operation":"getAll","tableId":"eventos_padrao","limit":1,"filters":{"conditions":[{"keyName":"codigo_evento","condition":"eq","keyValue":"={{ $('Get Row Supabase').item.json.evento_codigo }}"}]}},"alwaysOutputData":true,"id":"cat-lookup-001","name":"Lookup Catalogo","position":[1072,-144],"type":"n8n-nodes-base.supabase","typeVersion":1,"credentials":{"supabaseApi":{"id":"8hyiuJeUM9Khn0Tk","name":"Supabase Iris Agente"}}},{"parameters":{"jsCode":"// Fluxo SEQUENCIAL: Row -> History -> Catalogo -> aqui\n// Pegar sempre o FIRST item para garantir que nao vaza multiplos arrays\nconst pendencia = $('Get Row Supabase').first().json;\n\n// Historico (do RPC)\nlet historico = [];\ntry {\n    const histItems = $('Get Supabase History').all().map(i => i.json);\n    historico = histItems.filter(j => j && Object.keys(j).length > 0);\n} catch(e) {\n    historico = [];\n}\n\n// Catalogo (do lookup)\nlet catalogoItem = null;\ntry {\n    const catalogoRaw = $('Lookup Catalogo').first().json;\n    if (Array.isArray(catalogoRaw)) {\n        catalogoItem = catalogoRaw.length > 0 ? catalogoRaw[0] : null;\n    } else if (catalogoRaw && catalogoRaw.codigo_evento) {\n        catalogoItem = catalogoRaw;\n    }\n} catch(e) {\n    catalogoItem = null;\n}\n\n// Extrair plano do patrimonio de forma segura\nconst patrimonio = String(pendencia.patrimonio || '');\nlet plano = 'desconhecido';\n\nif (patrimonio.includes('000') || patrimonio.includes('600') || patrimonio.includes('800') || patrimonio.includes('900')) {\n    const regexPlanos = /(1000|2000|3000|4000|5000|6000|7000|8000|9000|0000)/;\n    const match = patrimonio.match(regexPlanos);\n    if (match) {\n        plano = match[0];\n    } else if (patrimonio.length > 3) {\n        if (patrimonio.length === 5 && patrimonio.startsWith('1')) {\n            const digit = patrimonio.charAt(1);\n            if (digit !== '0') {\n               plano = digit + '000';\n            }\n        } else if (patrimonio.includes('600')) {\n            plano = '6000';\n        } else if (patrimonio.includes('800')) {\n            plano = '8000';\n        } else if (patrimonio.includes('900')) {\n            plano = '9000';\n        }\n    }\n}\n\nconst eventoCatalogo = {\n    codigo: pendencia.evento_codigo,\n    descricao_iris: pendencia.desc_evento || '',\n    descricao_catalogo: catalogoItem ? catalogoItem.desc_evento : 'Nao catalogado',\n    prioridade_catalogo: catalogoItem ? catalogoItem.prioridade : 'nao definida',\n    categoria: catalogoItem ? catalogoItem.categoria : null,\n    requer_despacho: catalogoItem ? catalogoItem.requer_despacho : false,\n    catalogado: catalogoItem ? true : false\n};\n\nconst historicoFormatado = historico.slice(0, 20).map(h => ({\n    id_disparo: h.id_disparo,\n    evento: h.evento_codigo,\n    desc_evento: h.desc_evento,\n    data: h.data_evento,\n    hora: h.hora_evento,\n    zona: h.zona,\n    setor: h.setor,\n    status: h.status\n}));\n\nreturn [{\n    json: {\n        plano: plano,\n        evento_enriquecido: eventoCatalogo,\n        pendencia: pendencia,\n        historico: historicoFormatado,\n        total_historico: historico.length,\n        id_disparo: pendencia.id_disparo,\n        id_cliente: pendencia.id_cliente\n    }\n}];"},"id":"enrich-001","name":"Enrich + Extrair Plano","position":[1296,-144],"type":"n8n-nodes-base.code","typeVersion":2},{"parameters":{"rules":{"values":[{"conditions":{"conditions":[{"leftValue":"={{ $json.plano }}","operator":{"operation":"equals","type":"string"},"rightValue":"0000"}]}},{"conditions":{"conditions":[{"leftValue":"={{ $json.plano }}","operator":{"operation":"equals","type":"string"},"rightValue":"1000"}]}},{"conditions":{"conditions":[{"leftValue":"={{ $json.plano }}","operator":{"operation":"equals","type":"string"},"rightValue":"2000"}]}},{"conditions":{"conditions":[{"leftValue":"={{ $json.plano }}","operator":{"operation":"equals","type":"string"},"rightValue":"3000"}]}},{"conditions":{"conditions":[{"leftValue":"={{ $json.plano }}","operator":{"operation":"equals","type":"string"},"rightValue":"4000"}]}},{"conditions":{"conditions":[{"leftValue":"={{ $json.plano }}","operator":{"operation":"equals","type":"string"},"rightValue":"5000"}]}},{"conditions":{"conditions":[{"leftValue":"={{ $json.plano }}","operator":{"operation":"equals","type":"string"},"rightValue":"6000"}]}},{"conditions":{"conditions":[{"leftValue":"={{ $json.plano }}","operator":{"operation":"equals","type":"string"},"rightValue":"7000"}]}},{"conditions":{"conditions":[{"leftValue":"={{ $json.plano }}","operator":{"operation":"equals","type":"string"},"rightValue":"8000"}]}},{"conditions":{"conditions":[{"leftValue":"={{ $json.plano }}","operator":{"operation":"equals","type":"string"},"rightValue":"9000"}]}}]},"options":{}},"id":"switch-plano-001","name":"Switch Plano","position":[1520,-144],"type":"n8n-nodes-base.switch","typeVersion":3.2},{"parameters":{"resource":"chat","model":"gpt-4o-mini","prompt":{"messages":[{"role":"system","content":"Voce e um analista de seguranca patrimonial senior da Patrimonium Monitoramento 24h.\nAgente 0000 (Atendimento tatico mediante visualizacao por cameras).\nCAMERAS: SIM. IGNORE 'tem_camera' do IRIS. Cliente TEM cameras externas.\n\n=== PASSO 1 OBRIGATORIO: IDENTIFIQUE O EVENTO ===\nLeia EVENTO_CATALOGO.descricao_catalogo e prioridade_catalogo PRIMEIRO.\nIdentifique O QUE o evento REALMENTE E:\n- E130/E131 = DISPARO DE ALARME. E120-E123 = EMERGENCIA.\n- 9900 = RONDA (rotina). 9015 = OFFLINE (manutencao).\n- E302/E309 = FALHA BATERIA. 9011-9017 = CONTROLE ACESSO.\n- 9800 = VIDEO. Prioridade T/A = INFORMATIVO.\nCITE a descricao do catalogo na hipotese.\n\n=== PASSO 2: SCORE POR TIPO ===\nEMERGENCIA (panico/coacao): 90-100 SEMPRE\nALARME sem recorrencia: 80-100 (provavelmente real)\nALARME recorrente mesmo setor: 30-50 (falso positivo)\nOPERACIONAL: 15-40. ROTINA: 5-15. MANUTENCAO: 15-30.\n\n=== PASSO 3: HISTORICO ===\n1. Conte vezes do MESMO evento nos 7 dias.\n2. Mesmo horario = habito/defeito.\n3. Recorrencia mesmo setor = problema tecnico. Recomendar OS.\n4. PRIMEIRO evento = destacar.\n\n=== REGRA 0000 ===\nALARME sem desativacao: priorizar CFTV. ME so com indicio visual.\nRONDA: registrar. Controle acesso URA 21-06 retardo 45min.\n\n=== FORMATO ===\nJSON puro:\n{\"score\": <0-100>, \"hipotese\": \"<CITE descricao catalogo>\", \"acao_recomendada\": \"<por TIPO>\", \"evidencias\": [\"<dados>\", \"<ev2>\", \"<ev3>\"]}"},{"content":"={\n  \"EVENTO_ATUAL\": {{ JSON.stringify($json.pendencia) }},\n  \"EVENTO_CATALOGO\": {{ JSON.stringify($json.evento_enriquecido) }},\n  \"PLANO\": \"{{ $json.plano }}\",\n  \"HISTORICO_ULTIMOS_7_DIAS\": {{ JSON.stringify($json.historico) }},\n  \"total_historico\": {{ $json.total_historico }}\n}"}]},"options":{"maxTokens":1000},"requestOptions":{}},"executeOnce":true,"id":"agente-0000","name":"Agente 0000","position":[1808,-464],"type":"n8n-nodes-base.openAi","typeVersion":1,"credentials":{"openAiApi":{"id":"pC24Ehdfh4vT5iQO","name":"OpenAi ti@patrimonium"}}},{"parameters":{"resource":"chat","model":"gpt-4o-mini","prompt":{"messages":[{"role":"system","content":"Voce e um analista de seguranca patrimonial senior da Patrimonium Monitoramento 24h.\nAgente 6000 (Disparo por Imagem). CAMERAS: SIM.\n\n=== PASSO 1: IDENTIFIQUE O EVENTO ===\nLeia EVENTO_CATALOGO.descricao_catalogo PRIMEIRO.\n- E130 = ALARME. E120-E123 = EMERGENCIA. 9900 = RONDA. 9015 = OFFLINE.\n- Prioridade T/A = INFORMATIVO. CITE descricao na hipotese.\n\n=== PASSO 2: SCORE POR TIPO ===\nEMERGENCIA: 90-100. ALARME sem recorrencia: 80-100. ALARME recorrente: 30-50.\nROTINA: 5-15. MANUTENCAO: 15-30.\n\n=== PASSO 3: HISTORICO ===\nRecorrencia, horario, setor, primeiro evento.\n\n=== REGRA 6000 ===\nALARME: ME + MI imagens. Intrusao: PM. RONDA: registrar.\n\n=== FORMATO ===\nJSON puro:\n{\"score\": <0-100>, \"hipotese\": \"<CITE descricao catalogo>\", \"acao_recomendada\": \"<por TIPO>\", \"evidencias\": [\"<dados>\", \"<ev2>\", \"<ev3>\"]}"},{"content":"={\n  \"EVENTO_ATUAL\": {{ JSON.stringify($json.pendencia) }},\n  \"EVENTO_CATALOGO\": {{ JSON.stringify($json.evento_enriquecido) }},\n  \"PLANO\": \"{{ $json.plano }}\",\n  \"HISTORICO_ULTIMOS_7_DIAS\": {{ JSON.stringify($json.historico) }},\n  \"total_historico\": {{ $json.total_historico }}\n}"}]},"options":{"maxTokens":1000},"requestOptions":{}},"executeOnce":true,"id":"agente-6000","name":"Agente 6000","position":[1808,-304],"type":"n8n-nodes-base.openAi","typeVersion":1,"credentials":{"openAiApi":{"id":"pC24Ehdfh4vT5iQO","name":"OpenAi ti@patrimonium"}}},{"parameters":{"resource":"chat","model":"gpt-4o-mini","prompt":{"messages":[{"role":"system","content":"Voce e um analista de seguranca patrimonial senior da Patrimonium Monitoramento 24h.\nAgente 8000 (Analitico Plus CFTV+Alarme). CAMERAS: SIM.\n\n=== PASSO 1: IDENTIFIQUE O EVENTO ===\nLeia EVENTO_CATALOGO.descricao_catalogo PRIMEIRO.\n- E130 = ALARME. E120-E123 = EMERGENCIA. 9900 = RONDA.\n- 9800/C001 = CAMERA. 9015 = OFFLINE. Prioridade T/A = INFORMATIVO.\nCITE descricao na hipotese.\n\n=== PASSO 2: SCORE POR TIPO ===\nEMERGENCIA: 90-100. ALARME sem recorrencia: 80-100. ALARME recorrente: 30-50.\nCAMERA intrusao: 85-100. CAMERA sem: 20-40.\nROTINA: 5-15. MANUTENCAO: 15-30.\n\n=== PASSO 3: HISTORICO ===\nRecorrencia, horario, setor, primeiro evento.\n\n=== REGRA 8000 ===\nALARME: ME. CAMERA: validar imagem. Alarme+camera = risco elevado. Retardo 45min.\n\n=== FORMATO ===\nJSON puro:\n{\"score\": <0-100>, \"hipotese\": \"<CITE descricao catalogo>\", \"acao_recomendada\": \"<por TIPO>\", \"evidencias\": [\"<dados>\", \"<ev2>\", \"<ev3>\"]}"},{"content":"={\n  \"EVENTO_ATUAL\": {{ JSON.stringify($json.pendencia) }},\n  \"EVENTO_CATALOGO\": {{ JSON.stringify($json.evento_enriquecido) }},\n  \"PLANO\": \"{{ $json.plano }}\",\n  \"HISTORICO_ULTIMOS_7_DIAS\": {{ JSON.stringify($json.historico) }},\n  \"total_historico\": {{ $json.total_historico }}\n}"}]},"options":{"maxTokens":1000},"requestOptions":{}},"executeOnce":true,"id":"agente-8000","name":"Agente 8000","position":[1808,-144],"type":"n8n-nodes-base.openAi","typeVersion":1,"credentials":{"openAiApi":{"id":"pC24Ehdfh4vT5iQO","name":"OpenAi ti@patrimonium"}}},{"parameters":{"resource":"chat","model":"gpt-4o-mini","prompt":{"messages":[{"role":"system","content":"Voce e um analista de seguranca patrimonial senior da Patrimonium Monitoramento 24h.\nAgente Padrao: planos 1000(Smart), 2000(Bronze), 3000(Prata), 4000(Ouro), 5000(Premium), 7000(CFTV).\nCampo PLANO indica qual aplicar.\n\n!!! CAMERAS !!!\n1000-5000: NAO possuem cameras. PROIBIDO recomendar CFTV/cameras/video.\n7000: POSSUI cameras. Recomende verificacao visual.\nIGNORE 'tem_camera' do IRIS.\n\n=== PASSO 1 OBRIGATORIO: IDENTIFIQUE O EVENTO ===\nLeia EVENTO_CATALOGO.descricao_catalogo e prioridade_catalogo PRIMEIRO.\n- E130/E131 = DISPARO DE ALARME (Arrombamento/Violacao)\n- E120-E123 = EMERGENCIA (Panico/Coacao)\n- 9900 = RONDA (Realizar ronda - ROTINA, score 5-15)\n- 9015 = OFFLINE (Teste nao recebido - MANUTENCAO)\n- E302/E309 = FALHA BATERIA (MANUTENCAO)\n- 9011-9017 = CONTROLE ACESSO (OPERACIONAL)\n- E351 = FALHA LINHA (MANUTENCAO)\n- Prioridade T/A = INFORMATIVO (score 5-15)\nCITE a descricao do catalogo na hipotese.\n\n=== PASSO 2: SCORE BASEADO NO TIPO ===\nEMERGENCIA: 90-100 SEMPRE\nALARME sem recorrencia: 80-100 (provavelmente real)\nALARME recorrente MESMO setor: 30-50 (falso positivo provavel)\nALARME recorrente variado: 50-70\nOPERACIONAL: 15-40\nROTINA (ronda, informativo): 5-15\nMANUTENCAO primeiro evento: 30-50. Recorrente: 15-30.\n\n=== PASSO 3: HISTORICO ===\n1. Conte vezes do MESMO evento nos 7 dias.\n2. Mesmo horario = habito/defeito.\n3. Recorrencia mesmo setor = problema tecnico. Recomendar OS.\n4. PRIMEIRO evento = destacar.\n\n=== REGRAS POR PLANO ===\n1000: Contato palavra-chave. Sem confirmacao: decisao operador.\n2000: ALARME: ME. Sem URA.\n3000: ALARME: ME. URA 21-06 retardo 45min.\n4000: ALARME: ME. Senhas remoto. Retardo 45min.\n5000: ALARME: ME. Regulagem sensores. Retardo 10min.\n7000: Verificacao imagem. Intrusao: ME+PM.\nRONDA em qualquer plano: registrar e orientar. Score baixo.\n\n=== FORMATO ===\nJSON puro (sem markdown):\n{\"score\": <0-100>, \"hipotese\": \"<CITE descricao catalogo e explique criticidade real>\", \"acao_recomendada\": \"<baseada no TIPO do evento - NUNCA cameras 1000-5000>\", \"evidencias\": [\"<dados concretos>\", \"<ev2>\", \"<ev3>\"]}"},{"content":"={\n  \"EVENTO_ATUAL\": {{ JSON.stringify($json.pendencia) }},\n  \"EVENTO_CATALOGO\": {{ JSON.stringify($json.evento_enriquecido) }},\n  \"PLANO\": \"{{ $json.plano }}\",\n  \"HISTORICO_ULTIMOS_7_DIAS\": {{ JSON.stringify($json.historico) }},\n  \"total_historico\": {{ $json.total_historico }}\n}"}]},"options":{"maxTokens":1000},"requestOptions":{}},"executeOnce":true,"id":"agente-padrao","name":"Agente Padrao","position":[1808,16],"type":"n8n-nodes-base.openAi","typeVersion":1,"credentials":{"openAiApi":{"id":"pC24Ehdfh4vT5iQO","name":"OpenAi ti@patrimonium"}}},{"parameters":{"resource":"chat","model":"gpt-4o-mini","prompt":{"messages":[{"role":"system","content":"Voce e um analista de seguranca patrimonial senior da Patrimonium Monitoramento 24h.\nAgente 9000 (Patrimonium Mobile). CAMERAS: NAO. NUNCA recomende cameras.\n\n=== PASSO 1: IDENTIFIQUE O EVENTO ===\nLeia EVENTO_CATALOGO.descricao_catalogo PRIMEIRO.\n- E130 = ALARME. E120-E123 = EMERGENCIA. 9900 = RONDA.\n- 9015 = OFFLINE. Prioridade T/A = INFORMATIVO.\nCITE descricao na hipotese.\n\n=== PASSO 2: SCORE POR TIPO ===\nEMERGENCIA: 90-100. ALARME sem recorrencia: 80-100. ALARME recorrente: 30-50.\nROTINA: 5-15. MANUTENCAO: 15-30.\n\n=== PASSO 3: HISTORICO ===\nRecorrencia, horario, setor, primeiro evento.\n\n=== REGRA 9000 ===\nME APENAS via app + R$49,90. EXCECAO: Panico = ME imediato. Retardo 45min.\n\n=== FORMATO ===\nJSON puro:\n{\"score\": <0-100>, \"hipotese\": \"<CITE descricao catalogo>\", \"acao_recomendada\": \"<tatico SO via app>\", \"evidencias\": [\"<dados>\", \"<ev2>\", \"<ev3>\"]}"},{"content":"={\n  \"EVENTO_ATUAL\": {{ JSON.stringify($json.pendencia) }},\n  \"EVENTO_CATALOGO\": {{ JSON.stringify($json.evento_enriquecido) }},\n  \"PLANO\": \"{{ $json.plano }}\",\n  \"HISTORICO_ULTIMOS_7_DIAS\": {{ JSON.stringify($json.historico) }},\n  \"total_historico\": {{ $json.total_historico }}\n}"}]},"options":{"maxTokens":1000},"requestOptions":{}},"executeOnce":true,"id":"agente-9000","name":"Agente 9000","position":[1808,176],"type":"n8n-nodes-base.openAi","typeVersion":1,"credentials":{"openAiApi":{"id":"pC24Ehdfh4vT5iQO","name":"OpenAi ti@patrimonium"}}},{"parameters":{"mode":"runOnceForEachItem","jsCode":"// For json_object mode, some OpenAI nodes output 'text' instead of 'message.content'\nlet content = \"\";\nif ($input.item.json.message && $input.item.json.message.content) {\n    content = $input.item.json.message.content;\n} else if ($input.item.json.text) {\n    content = $input.item.json.text;\n} else if (typeof $input.item.json === 'string') {\n    content = $input.item.json;\n} else if ($input.item.json.content) {\n    content = $input.item.json.content;\n}\n\nif (!content) {\n    throw new Error(\"Could not find AI content in output: \" + JSON.stringify($input.item.json).substring(0, 100));\n}\n\n// Limpar markdown se existir (comum em LLMs)\ncontent = content.replace(/```json\\n?|```/g, '').trim();\n\nlet promptResult;\ntry {\n    promptResult = JSON.parse(content);\n} catch (e) {\n    // Se falhar, tenta extrair o que parece ser JSON entre chaves\n    const match = content.match(/\\{[\\s\\S]*\\}/);\n    if (match) {\n        promptResult = JSON.parse(match[0]);\n    } else {\n        throw new Error(\"AI responded with invalid JSON: \" + content.substring(0, 100));\n    }\n}\n\nconst enrichData = $('Enrich + Extrair Plano').first().json;\n\nreturn {\n  json: {\n    id_disparo: enrichData.id_disparo,\n    id_cliente: enrichData.id_cliente,\n    score: promptResult.score || 0,\n    hipotese: promptResult.hipotese || \"N├úo informada\",\n    acao_recomendada: promptResult.acao_recomendada || \"Analisar manualmente\",\n    evidencias: promptResult.evidencias || [],\n    plano_utilizado: enrichData.plano,\n    evento_enriquecido: enrichData.evento_enriquecido,\n    operador_solicitante: $('Webhook App (Analisar)').first().json.body.operador_solicitante || null\n  }\n};"},"id":"map-result-001","name":"Map IA Result","position":[2080,-144],"type":"n8n-nodes-base.code","typeVersion":2},{"parameters":{"options":{}},"id":"d8bc174b-53a7-48b0-97fa-18090fff1bb9","name":"Respond to App","position":[3000,-144],"type":"n8n-nodes-base.respondToWebhook","typeVersion":1.1},{"id":"check-existing-001","name":"Check Existing Analise","type":"n8n-nodes-base.supabase","typeVersion":1,"position":[2304,-144],"parameters":{"operation":"getAll","tableId":"iris_analises","limit":1,"filters":{"conditions":[{"keyName":"id_disparo","condition":"eq","keyValue":"={{ $('Map IA Result').item.json.id_disparo }}"}]}},"credentials":{"supabaseApi":{"id":"8hyiuJeUM9Khn0Tk","name":"Supabase Iris Agente"}}},{"id":"if-analise-001","name":"IF Analise Exists","type":"n8n-nodes-base.if","typeVersion":1,"position":[2500,-144],"parameters":{"conditions":{"options":{"caseSensitive":true,"leftWordBoundry":false,"logicalOperator":"AND","rightWordBoundry":false},"string":[{"operation":"isEmpty","value1":"={{ $('Check Existing Analise').first().json.id_disparo }}"}]}}},{"id":"create-analise-001","name":"Create Analise Supabase","type":"n8n-nodes-base.supabase","typeVersion":1,"position":[2750,44],"parameters":{"dataMode":"defineBelow","operation":"create","options":{},"tableId":"iris_analises","valuesToSend":{"values":[{"name":"id_disparo","value":"={{ $('Map IA Result').item.json.id_disparo }}"},{"name":"score","value":"={{ $('Map IA Result').item.json.score }}"},{"name":"hipotese","value":"={{ $('Map IA Result').item.json.hipotese }}"},{"name":"acao_recomendada","value":"={{ $('Map IA Result').item.json.acao_recomendada }}"},{"name":"evidencias","value":"={{ $('Map IA Result').item.json.evidencias }}"},{"name":"plano_utilizado","value":"={{ $('Map IA Result').item.json.plano_utilizado }}"},{"name":"evento_enriquecido","value":"={{ $('Map IA Result').item.json.evento_enriquecido }}"},{"name":"operador_solicitante","value":"={{ $('Map IA Result').item.json.operador_solicitante }}"}]}},"credentials":{"supabaseApi":{"id":"8hyiuJeUM9Khn0Tk","name":"Supabase Iris Agente"}}},{"id":"update-analise-001","name":"Update Analise Supabase","type":"n8n-nodes-base.supabase","typeVersion":1,"position":[2750,-244],"parameters":{"dataMode":"defineBelow","matchType":"anyFilter","operation":"update","options":{},"tableId":"iris_analises","valuesToMatch":{"values":[{"name":"id_disparo","value":"={{ $('Map IA Result').item.json.id_disparo }}"}]},"valuesToSend":{"values":[{"name":"score","value":"={{ $('Map IA Result').item.json.score }}"},{"name":"hipotese","value":"={{ $('Map IA Result').item.json.hipotese }}"},{"name":"acao_recomendada","value":"={{ $('Map IA Result').item.json.acao_recomendada }}"},{"name":"evidencias","value":"={{ $('Map IA Result').item.json.evidencias }}"},{"name":"plano_utilizado","value":"={{ $('Map IA Result').item.json.plano_utilizado }}"},{"name":"evento_enriquecido","value":"={{ $('Map IA Result').item.json.evento_enriquecido }}"},{"name":"operador_solicitante","value":"={{ $('Map IA Result').item.json.operador_solicitante }}"}]}},"credentials":{"supabaseApi":{"id":"8hyiuJeUM9Khn0Tk","name":"Supabase Iris Agente"}}}],"connections":{"Agente 0000":{"main":[[{"index":0,"node":"Map IA Result","type":"main"}]]},"Agente 6000":{"main":[[{"index":0,"node":"Map IA Result","type":"main"}]]},"Agente 8000":{"main":[[{"index":0,"node":"Map IA Result","type":"main"}]]},"Agente 9000":{"main":[[{"index":0,"node":"Map IA Result","type":"main"}]]},"Agente Padrao":{"main":[[{"index":0,"node":"Map IA Result","type":"main"}]]},"Enrich + Extrair Plano":{"main":[[{"index":0,"node":"Switch Plano","type":"main"}]]},"Get Row Supabase":{"main":[[{"index":0,"node":"Get Supabase History","type":"main"}]]},"Get Supabase History":{"main":[[{"index":0,"node":"Lookup Catalogo","type":"main"}]]},"Lookup Catalogo":{"main":[[{"index":0,"node":"Enrich + Extrair Plano","type":"main"}]]},"Map IA Result":{"main":[[{"node":"Check Existing Analise","type":"main","index":0}]]},"Switch Plano":{"main":[[{"index":0,"node":"Agente 0000","type":"main"}],[{"index":0,"node":"Agente Padrao","type":"main"}],[{"index":0,"node":"Agente Padrao","type":"main"}],[{"index":0,"node":"Agente Padrao","type":"main"}],[{"index":0,"node":"Agente Padrao","type":"main"}],[{"index":0,"node":"Agente Padrao","type":"main"}],[{"index":0,"node":"Agente 6000","type":"main"}],[{"index":0,"node":"Agente Padrao","type":"main"}],[{"index":0,"node":"Agente 8000","type":"main"}],[{"index":0,"node":"Agente 9000","type":"main"}],[{"index":0,"node":"Agente Padrao","type":"main"}]]},"Webhook App (Analisar)":{"main":[[{"index":0,"node":"Get Row Supabase","type":"main"}]]},"Check Existing Analise":{"main":[[{"node":"IF Analise Exists","type":"main","index":0}]]},"IF Analise Exists":{"main":[[{"node":"Create Analise Supabase","type":"main","index":0}],[{"node":"Update Analise Supabase","type":"main","index":0}]]},"Create Analise Supabase":{"main":[[{"node":"Respond to App","type":"main","index":0}]]},"Update Analise Supabase":{"main":[[{"node":"Respond to App","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","binaryMode":"separate","availableInMCP":false,"callerPolicy":"workflowsFromSameOwner"}}
